<!-- <footer class="foorter">
    <div class=" id="page-container>
        <span style="color:gray; padding-left: 400px;">All Rights reserved &copy; 2020 Crud.lk </span>
    </div>
</footer> -->

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Wenthura Event Managemnt System <i> Services</i>  Charged with creating experiences and bringing visions to life, an event planner is adept at juggling many tasks. Scouting locations, soliciting bids, managing vendor relationships and client communications, creating and negotiating contracts, and managing budgets are all typical functions in the event planner role.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">Service Management</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">Event Planning</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">Feedbacks</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Genarate  Reports</a></li>
            <li><a href="http://scanfcode.com/category/android/">News Feeds</a></li>
            <li><a href="http://scanfcode.com/category/templates/">Inventory Management</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">Avinash</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://toppng.com/uploads/preview/facebook-f-icon-facebook-logo-png-white-11563016108d1db9g68rk.png"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>